.game-layout-container{
    display: none;
}

#layout-container-16_9-3p {
    display: block;
}

body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    --sidebar-width: 495px;
    --puwp-blue: #0084ff;
}

.wrapper {
    background: url('../../img/game-layout/16_9-3p.png') no-repeat;
    font-family: "Chosence";
    color: white;
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    position: relative;
}

.sidebar {
    position: absolute;
    right: 66px;
    top: 577px;
    width: 868px;
    height: 483px;
    font-size: 48px;
}

.game-name {
    position: absolute;
    width: 851px;
    height: 98px;
    line-height: 98px;
    text-align: left;
    top:0px;
    left: 21px;
    font-size:80px;
}

.runner-details1 {
    position: absolute;
    top: 510px;
    left: 608px;
    width: 257px;
    height: 46px;
}

.runner-name1 {
    position: absolute;
    right: -70px;
    width: 207px;
    height: 46px;
    line-height: 46px;
    color: var(--puwp-blue);
    font-size: 30px;
    text-align: center;
}

.pronouns1 {
    position: absolute;
    font-size: 20px;
    left: 2px;
    height: 46px;
    width: 44px;
    word-wrap: break-word;
    text-align: center;
}

.runner-details2 {
    position: absolute;
    width: 257px;
    height: 46px;
    top: 510px;
    right: 127px;
}

.runner-name2 {
    position: absolute;
    right: -66px;
    width: 208px;
    height: 46px;
    line-height: 46px;
    color: var(--puwp-blue);
    font-size: 30px;
    text-align: center;
}

.pronouns2 {
    position: absolute;
    font-size: 20px;
    left: 2px;
    height: 46px;
    width: 44px;
    word-wrap: break-word;
    text-align: center;
}

.runner-details3 {
    position: absolute;
    top: 525px;
    left: -13px;
    width: 257px;
    height: 46px;
}

.runner-name3 {
    position: absolute;
    right: -60px;
    width: 208px;
    height: 46px;
    line-height: 46px;
    color: var(--puwp-blue);
    font-size: 30px;
    text-align: center;
}

.pronouns3 {
    position: absolute;
    font-size: 20px;
    left: 2px;
    height: 46px;
    width: 44px;
    word-wrap: break-word;
    text-align: center;
}

.pronouns {
    position: absolute;
    font-size: 20px;
    left: 78px;
    height: 46px;
    width: 30px;
    word-wrap: break-word;
    text-align: left;
}


.footer-left {
    position: absolute;
    left: 0;
    width: 206px;
    height: 131px;
}

.donation-total{
    position: absolute;
    bottom: 24px;
    width: var(--sidebar-width);
    height: 146px;
    line-height: 146px;
    font-size: 100px;
    text-align: center;
    left: -22px;

    top: 333px;
}

.timer {
    position: absolute;
    top: 365px;

    left: 419px;
    width: 328px;
    height: 80px;
    line-height: 80px;
    text-align: right;
    color: var(--puwp-blue);
    font-size: 86px;
}

.game-details {
    display: flex;
    position: absolute;
    font-size: 40px;
    width: 510px;
    top: 100px;
    left: 21px;
}

.cell {
    height: 51px;
    min-width: 175px;
}

.game-detail {
    color: var(--puwp-blue);
}
